<a href="https://colab.research.google.com/github/bakeunbi99/Colab/blob/main/Ch3.%EB%94%A5%EB%9F%AC%EB%8B%9D/13_%EC%8A%A4%EB%A7%88%ED%8A%B8%EC%B9%B4_%EB%AA%A8%EB%8D%B8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
날짜 : 2021/11/04 16:37
내용: 스마트카 모델 실습하기
"""

import tensorflow as tf
import pandas as pd
from keras.models import load_model
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
# 데이터 불러오기
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/CarDrivingIncidentInfo_Test.csv')
df

    wea  temp  hum  arrCar  ...  innCond  carSpd  steeAng  acciPos
0     0     1    0       1  ...        0       0        1        0
1     0     0    0       1  ...        0       1        0        0
2     0     0    0       0  ...        1       0        0        0
3     1     0    1       1  ...        1       2        0        2
4     1     0    2       0  ...        2       1        0        0
5     2     1    0       1  ...        2       2        0        1
6     0     0    0       0  ...        2       1        0        0
7     0     0    0       0  ...        1       1        0        0
8     2     0    0       1  ...        2       1        0        2
9     0     0    2       1  ...        0       0        0        0
10    1     2    1       1  ...        2       2        1        2
11    2     1    0       1  ...        1       2        2        2
12    1     0    1       0  ...        0       1        0        0
13    0     0    1       0  ...        2       2        1        1
14    0     1    1       1  ...        0       0        0        0
15    0     0    0       0  ...        1       2        0        0
16    2     0    1       1  ...        1       0        1        0
17    1     0    1       0  ...        0       2        1        0
18    1     0    2       1  ...        1       2        0        1
19    0     2    0       0  ...        2       1        0        0
20    0     1    2       0  ...        1       2        0        1
21    1     0    0       1  ...        2       2        0        1
22    1     0    1       0  ...        0       2        0        0
23    1     1    1       1  ...        0       2        0        1
24    0     1    1       1  ...        1       1        0        1
25    0     0    2       0  ...        2       2        0        1
26    1     0    0       2  ...        0       1        0        0
27    1     0    2       1  ...        2       0        0        1
28    0     0    1       1  ...        0       1        2        1
29    0     0    0       1  ...        2       1        0        0

[30 rows x 11 columns]

In [ ]:
# 학습 데이터, 라벨
df_train = df.iloc[:, :-1].values
df_label = df.iloc[:, -1].values # 뒤에서 부터 index

#X는 훈련데이터, Y는 라벨데이터
X_train, X_test, Y_train, Y_test = train_test_split(df_train, df_label, test_size=0.2, random_state=1)

Y_train = to_categorical(Y_train)
Y_test = to_categorical(Y_test)

sc = StandardScaler() # StandardScaler() 객체를 가지고 정규화 작업을 한다.
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [ ]:
# 모델 불러오기
model = load_model('/content/drive/MyDrive/Colab Notebooks/model/smartcar_model.h5')
model

In [ ]:
# 모델 평가
result = model.evaluate(X_train, Y_train)
result

1/1 [==============================] - 0s 487ms/step - loss: 0.0913 - acc: 0.9583

[0.0912732407450676, 0.9583333134651184]

In [ ]:
# 테스트하기
pre = model.predict(X_test)
pre.round()

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]], dtype=float32)