<a href="https://colab.research.google.com/github/bakeunbi99/Colab/blob/main/Ch1.%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%EB%8D%B0%EC%9D%B4%EB%B6%84%EC%84%9D%20%EA%B8%B0%EC%B4%88/3_Pandas_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
날짜 : 2021/10/18 15:45
내용 : 파이썬 Pandas 실습하기

Pandas => DataFrame
DataFrame 은 데이터를 불러와서 만드는 것
Pandas 라이브러리
  - 파이썬 데이터 분석에 사용되는 DataFrame 자료구조를 지원하는 패키지
  - DataFrame을 가공, 처리를 지원하는 패키지
"""

import pandas as pd

In [ ]:
# Dataframe 생성
df1 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df1

In [ ]:
# 컬럼명을 갖는 Dataframe
df2 = pd.DataFrame({'uid':['a101', 'a102', 'a103', 'a104', 'a105'],
                    'name':['김유신', '김춘추', '장보고', '강감찬', '이순신'],
                    'age':[25, 21, 32, 41, 52]})

df2

In [ ]:
# DataFrame 출력
print(df1[0][0])
print(df1[0][1])
print(df1[1][2])
print(df2['uid'][0])
print(df2['name'][1])
print(df2['name'][4])

In [ ]:
# CSV 파일 Dataframe 불러오기
df_exam = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/exam.csv')

In [ ]:
# 기본 요약 통계
df_exam.describe()

In [ ]:
# 상위 5개
df_exam.head()

In [ ]:
# 하위 5개
df_exam.tail

In [ ]:
# Dataframe 인덱싱 (중요)
# loc  - 컬럼명 기반 인덱싱
df_math = df_exam.loc[:, 'math']
print(df_math)

df_r1 = df_exam.loc[1:3, :]
print(df_r1)

df_r2 = df_exam.loc[1:4, ['math', 'english']]
print(df_r2)

df_r3 = df_exam.loc[10:, ['math', 'english', 'science']]
print(df_r3)


# iloc - 인덱스 기반 인덱싱
df_r4 = df_exam.iloc[1:5, 2:4]
print(df_r4)

In [ ]:
# 수학점수 60점 이상 출력
df_exam[df_exam.math >= 60]

In [ ]:
# 수학 점수 내림차순(False), 오름차순(True)
df_exam.sort_values(by='math', ascending=False)

In [ ]:
# 영어 점수 60 ~ 70, 내림차순
df_exam[(df_exam.english >= 60) & (df_exam.english >= 70)].sort_values(by='english', ascending=False)

In [ ]:
# 파생 변수
df_exam['total'] = df_exam.math + df_exam.english + df_exam.science
df_exam['mean'] = df_exam.total / 3
# 리스트 안에 반복문과 조건문
df_exam['grade'] = ['A' if m >= 90 else
                    'B' if m >= 80 else 
                    'c' if m >= 70 else
                    'd' if m >= 60 else 'F' for m in df_exam['mean']]

df_exam

In [ ]:
# dataset이 아니라서 다음에 실습하기..

# iris dataset
# from sklearn.datasets import load_iris

# df_iris = load_iris()
# df_iris