<a href="https://colab.research.google.com/github/bakeunbi99/Colab/blob/main/Ch2.%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D/10_%EB%9E%9C%EB%8D%A4%ED%8F%AC%EB%A0%88%EC%8A%A4%ED%8A%B8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
날짜 : 2021/10/20 17:00
내용 : 랜덤포레스트 실습하기

  랜덤 포레스트(Random Forest)
  - 여러개의 결정트리를 구성한 앙상블 모델로 과적합 문제를 해결 할 수 있다.

"""

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree, metrics
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# 데이터셋 확인
sns.get_dataset_names() # 내장되어 있는 데이터셋

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [ ]:
# 데이터 불러오기
df_iris =  sns.load_dataset('iris')
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# 학습데이터
iris_train_data = df_iris.iloc[:, 0:4]
iris_train_label = df_iris.iloc[:, 4]

train_data, test_data, train_label, test_label = train_test_split(iris_train_data, iris_train_label)
train_data

     sepal_length  sepal_width  petal_length  petal_width
92            5.8          2.6           4.0          1.2
66            5.6          3.0           4.5          1.5
8             4.4          2.9           1.4          0.2
33            5.5          4.2           1.4          0.2
97            6.2          2.9           4.3          1.3
..            ...          ...           ...          ...
27            5.2          3.5           1.5          0.2
110           6.5          3.2           5.1          2.0
93            5.0          2.3           3.3          1.0
54            6.5          2.8           4.6          1.5
119           6.0          2.2           5.0          1.5

[112 rows x 4 columns]

In [ ]:
# 학습하기
model = RandomForestClassifier()
model.fit(train_data, train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# 테스트 하기
result = model.predict(test_data)
result

array(['versicolor', 'virginica', 'virginica', 'virginica', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'versicolor',
       'setosa', 'versicolor', 'virginica', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'virginica',
       'virginica', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'setosa', 'setosa', 'virginica',
       'setosa'], dtype=object)

In [ ]:
# 성능 평가
score = metrics.accuracy_score(result, test_label)
score

1.0

In [ ]:
###################### pima 머신러닝 ######################
# 데이터 불러오기
df_pima = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/pima-indians-diabetes.csv', header=None)
df_pima

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [ ]:
# 학습데이터
pima_data = df_pima.iloc[:, 0:8]
pima_label = df_pima.iloc[:, 8]

train_data, test_data, train_label, test_label = train_test_split(pima_data, pima_label)

In [ ]:
# 학습하기
model = RandomForestClassifier()
model.fit(pima_data, pima_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# 테스트 하기
pima_result = model.predict(pima_data)

In [ ]:
# 성능 평가
score = metrics.accuracy_score(pima_result, pima_label)
score

1.0